.top-container{
    background-color:#ECF9FF;
    padding:100px;
    position: relative;
    color:#40514E;
    
}
.intro{
    width:30%;
    margin:auto;
}
body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;

}
.top_cloud{
    position:absolute;
    right:300px;
    top:50px;
    
}
.bottom_cloud{
    position:absolute;
    left:300px;
    bottom:300px;
}
.middle-container{
    padding:20px;
}
.bottom-container{
    background-color: #66BFBF;
    padding:50px 0 20px;
}

.copy-right{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding:20px 0;
}
a{
    color:#11999E;
    font-family: 'Merriweather', serif;
    margin:10px 20px;
    text-decoration: none;
}
.a:hover{
    color:#EAF6F6;
}
.hat{
    width:20%;
    float:left;
    margin-left: 400px;
}
.books{
    width:15%;
    float:right;
    margin-right:300px;
}
.opbook{
    width:15%;
    float:left;
    margin-left: 400px;
}

h1{
    font-size: 562.5%;
    margin:0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    margin-top: 50px;
    color:#66BFBF;
    line-height: 2;
}
h2{
    font-size:40px;
    font-style: bold;
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color:#11999E;
    /*font-family: 'Montserrat', sans-serif;*/
}
h4{
    color:#11999E;
}
p{
    line-height: 2;
}
hr{
    border-color:grey;
    border-style:none;
    border-top-style:dotted;
    border-width: 5px;
    width:5%;

}

